#calculator{
    border: 1px rgb(187,183,183) solid;
    border-radius: 5px;
    width: 300px; 
}

#display{
    margin: 10px;
    width: 90%;
    font-size: 40px;
}

.button_container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.button{
    width: 70px;
    height: 70px;
    margin: 3px;
    font-size: 20px;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#wrapper {
    text-align: center; /* Center heading and calculator horizontally */
}